/*General*/
body{
    font-family: 'Open Sans', sans-serif;
    color:#424a52;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
    overflow: hidden;
}
.text-ellipse{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    min-height: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #90A4AE;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #607D8B;
}


/*Root Setup*/
.body{}
.body #yarn{
    background-color: #ffffff;
    display: flex;
    height: 100Vh;
    margin: auto;
    z-index: 999;
}

.body-slab{
    display: inline-block;
    height: 100%;
}
.body-slab.switch-tab{
    width: 6%;
    background-color: #ffffff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.7), 0 -1px 4px rgba(1,0,0,0.5);
}
.body-slab.clients{
    width: 25%;
    background-color: #f5f7fb;
}
.body-slab.messages{
    width: 50%;
    background-color: #f5f7fb;
    border-left: 1px solid transparent;
    border-right: 1px solid #cfd8dc;
}
.body-slab.client-profile{
    width: 19%;
    background-color: #ffffff;
}



/*switch-tab*/
.switch-tab .slab-hold{}
.switch-tab .slab-hold{}

.switch-tab .agent-info{
    padding: 20px 20%;
}
.switch-tab .agent-info .agent-img{}
.switch-tab .agent-info .agent-img svg{
    height: auto;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    padding: 7px;
}

.switch-tab .agent-info .agent-img svg .a{fill:#20a5d3;}
.switch-tab .agent-info .agent-img svg .b{fill:#ccc;}
.switch-tab .agent-info .agent-img svg .c{fill:#e6e6e6;}
.switch-tab .agent-info .agent-img svg .d{fill:#fff;}
.switch-tab .agent-info .agent-img svg .e{fill:#42444c;}
.switch-tab .agent-info .agent-img svg .f{fill:#ff4a4a;}
.switch-tab .agent-info .agent-img svg .g{fill:#e53333;}

.switch-tab .agent-info .agent-name{
    display: flex;
    margin-top: 4px;
    color: #959db2;
    height: 18px;
}
.switch-tab .agent-info .agent-name p{
    font-size: 12px;
    display: inline-block;
    width: 80%;
    padding: 0;
    margin: 1px 0 0 0;
    text-decoration: underline;
}
.switch-tab .agent-info .agent-name span{
    display: inline-block;
    width: 20%;
}
.switch-tab .agent-info .agent-name span svg{
    fill: #959db2;
    height: 100%;
    width: 100%;
    display: block;
}

.side-switch{
    margin-top: 25px;
}
.side-switch ul{
    margin: 0;
    padding: 0;
}
.side-switch ul li{
    padding: 15px 10%;
    height: 55px;
    display: block;
    fill: #bcc1cf;
    cursor: pointer;
}
.side-switch ul li.active{
    fill: #ff4e4a;
    background-color: #f5f7fb;
}
.side-switch ul li span{
    display: block;
    /* padding: 10px; */
}
.side-switch ul li span svg{
    width: auto;
    height: 25px;
    margin: 0 auto;
    display: block;
}
/*switch-tab END*/

/*clients*/
.body-slab .clients{}
.body-slab.clients .clients-holder{
    display: block;
    overflow: hidden;
}

.clients .top{
    height: 12vh;
}
.clients .top .logo{}
.clients .top .logo p{
    padding: 25px 8%;
    margin: 0 0;
    border-bottom: 1px solid #E0E0E0;
    font-size: 26px;
    font-weight: 700;
    color: #607D8B;
}

.clients .bottom{
    padding: 0 0;
    /* height: 88vh; */
    display: block;
}
.clients .bottom .search-box{
    padding: 13px 8% 15px;
    height: 8vh;
    display: block;
    /* position: fixed; */
}
.sbx-custom {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 33px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 13px;
}
.sbx-custom__reset svg {
    width: 25px;
    height: 25px;
    opacity: 0.6;
}
.sbx-custom__input {
    border-radius: 28px;
    box-shadow: inset 0 0 0 1px #f5f7fb;
    background: #f5f7fb;
    color: #64808f;
}

.clients .bottom .client-yarns{display: block;overflow-x: hidden;overflow-y: scroll;position: relative;height: 88vh;}
.clients .bottom .client-yarns .client-yarn{
    border: 1px solid #F5F5F5;
    padding: 15px 5%;
    margin-left: 8%;
    margin-bottom: 7px;
    border-radius: 9px;
    background-color: #fff;
    color: #627f8e;
    cursor: pointer;
}
.clients .bottom .client-yarns .client-yarn .client-yarn-holder{
    display: block;
    position: relative;
}
.clients .bottom .client-yarns .client-yarn.active{
    background-color: #627f8e;
    color: #FFFFFF;
}
.clients .bottom .client-yarns .client-yarn.new-yarn{
    background-color: #ECEFF1;
    color: #607D8B;
}
.clients .bottom .client-yarns .client-yarn .inner-hold{
    display: flex;
}
.clients .bottom .client-yarns .client-yarn .client-img{
    display: inline-block;
    margin-right: 5%;
    padding: 6px 0;
}
.clients .bottom .client-yarns .client-yarn .client-img img{
    height: auto;
    width: 100%;
    border-radius: 50%;
}
.clients .bottom .client-yarns .client-yarn .yarn-detail{
    display: inline-block;
}
.clients .bottom .client-yarns .client-yarn .date{
    font-size: 8px;
    font-weight: 700;
    position: absolute;
    display: block;
    right: 0;
    padding: 0;
    margin: 0;
}
.clients .bottom .client-yarns .client-yarn .name{
    padding: 0;
    margin: 0 20% 3px 0;
    font-size: 13px;
    font-weight: 600;
    color: inherit;
}
.clients .bottom .client-yarns .client-yarn .msg{
    padding: 0;
    margin: 0;
    height: 30px;
    white-space: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: left;
    color: #BDBDBD;
    margin-right: 10%;
}
.clients .bottom .client-yarns .client-yarn .msg-count{
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    position: absolute;
    display: block;
    right: 0;
    padding: 4px 6px;
    margin: 0;
    background-color: #f5f7fb;
    color: #ff524a;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    top: 30px;
}



/*clients END*/

/*messages*/
.body-slab.messages{}
.messages .top{
    height: 12vh;
}
.messages .top .current-client{}
.messages .top .current-client .fav-client{
    position: absolute;
    display: block;
    top: 25px;
    right: 5%;
}
.messages .top .current-client .fav-client span{}
.messages .top .current-client .fav-client span svg{
    height: 20px;
    width: 20px;
}
.messages .top .current-client .current-client-holder{
    display: flex;
    padding: 25px 25px;
    height: 12vh;
    border-bottom: 1px solid #e1e1e2;
}
.messages .top .current-client .current-client-img{
    display: inline-block;
    margin-right: 15px;
}
.messages .top .current-client .current-client-img img{
    height: auto;
    width: 40px;
    border-radius: 50%;
}
.messages .top .current-client .current-client-details{
    display: inline-block;
}
.messages .top .current-client .current-client-details .name{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #607D8B;
}
.messages .top .current-client .current-client-details .acct-number{
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: #9E9E9E;
}


.messages .mid{
    height: 80vh;
}
.messages .chat-window{
    height: 100%;
    padding: 20px 2%;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
.messages .chat-window .chat-window-holder{
    height: 100%;
}

.messages .chat-window .received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.messages .chat-window .received-msg-holder p {
    background: #ffffff none repeat scroll 0 0;
    color: #607D8B;
    font-size: 13px;
    margin: 0;
    padding: 10px 14px 10px 15px;
    width: 100%;
    border-radius: 1px 12px 12px 12px;
}
.messages .chat-window .time-date {
    color: #747474;
    display: block;
    font-size: 9px;
    margin: 6px 0 0 5px;
}
.messages .chat-window .received-msg-holder {max-width: 80%;min-width: 40%;}

.messages .chat-window .mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.messages .chat-window .sent-msg p {
    background: #e6f6ea none repeat scroll 0 0;
    font-size: 13px;
    margin: 0;
    color: #616161;
    padding: 10px 14px 10px 15px;
    width:100%;
    border-radius: 12px 12px 1px 12px;
}
.messages .chat-window .outgoing-msg{ overflow:hidden; margin:26px 0 26px;}
.messages .chat-window .sent-msg {
    float: right;
    max-width: 80%;
    min-width: 40%;
}

.messages .base{
    height: 8vh;
}
.messages .base .response-msg{
    height: 100%;
}
.messages .base .response-msg .response-msg-holder{
    height: 100%;
    width: 100%;
}
.messages .base .response-msg .add-attachment{}
.messages .base .response-msg .add-attachment span{}
.messages .base .response-msg .add-attachment span svg{}
.messages .base .response-msg .write-msg{
    padding: 15px 25px;
}
.messages .base .response-msg .write-msg input{}
.messages .base .response-msg .send-msg{}
.messages .base .response-msg .send-msg span{}
.messages .base .response-msg .send-msg span svg{}
.messages .base .input-msg-write {
    width: 100%;
    height: 100%;
}
.messages .base .input-msg-write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 14px;
    /* min-height: 48px; */
    width: 100%;
    height: 100%;
    outline: none;
}

.messages .base .type-msg {border-top: 1px solid #E0E0E0;position: relative;height: 100%;}
.messages .base .msg-send-btn {
    background: #617f8f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    height: 35px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 35px;
    outline: none;
    padding: 0 10px 0 7px;
}


/*messages END*/

/*client-profile*/
.body-slab.client-profile{}
.client-profile .client-profile-holder{}
.client-profile .top{
    height: 40vh;
    width: 100%;
}
.client-profile .top .title{
    font-size: 12px;
    font-weight: 700;
    color: #607d8b;
    padding: 25px 5% 15px 5%;
    margin: 0;
}

.client-profile .top .prof-info{
    padding: 0 5%;
    margin: 0;
}
.client-profile .top .prof-info .info{
    margin: 0 0 18px 0;
}
.client-profile .top .prof-info .info .key{
    font-size: 9px;
    line-height: 9px;
    font-weight: 700;
    color: #BDBDBD;
    padding: 0;
    margin: 0 0 3px 0;
}
.client-profile .top .prof-info .info .value{
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 14px;
    color: #546E7A;
}
.client-profile .top .prof-info .info .value span{
    padding: 4px 6px 5px 5px;
    margin-top: 1px;
    display: inline-block;
    border-radius: 5px;
    font-size: 10px;
    line-height: 9px;
}
.client-profile .top .prof-info .info .value span.green{
    background: #4CAF50;
    color: white;
}
.client-profile .top .prof-info .info .value span.amber{
    background: #FBC02D;
    color: white;
}
.client-profile .top .prof-info .info .value span.red{
    background: #fe4a4a;
    color: white;
}


.client-profile .base{
    height: 60vh;
    width: 100%;
}
.client-profile .base .title{font-size: 12px;font-weight: 700;color: #607d8b;padding: 1vh 1% 1vh 1%;position: absolute;display: block;width: 100%;z-index: 99;background-color: white;margin-bottom: 0;}
.client-profile .base .unassigned-clients{}

.client-profile .base .unassigned-clients{display: block;overflow-x: hidden;overflow-y: scroll;position: relative;height: 100%;padding: 5vh 5% 0 5%;}
.client-profile .base .unassigned-clients .unassigned-client{
    border: 1px solid #F5F5F5;
    padding: 15px 4%;
    margin-bottom: 7px;
    border-radius: 9px;
    cursor: pointer;
    background-color: #ECEFF1;
    color: #607D8B;
}
.client-profile .base .unassigned-clients .unassigned-client .unassigned-client-holder{
    display: block;
    position: relative;
}

.client-profile .base .unassigned-clients .unassigned-client .inner-hold{
    display: flex;
}
.client-profile .base .unassigned-clients .unassigned-client .client-img{
    display: inline-block;
    margin-right: 5%;
    padding: 6px 0;
}
.client-profile .base .unassigned-clients .unassigned-client .client-img img{
    height: auto;
    width: 100%;
    border-radius: 50%;
}
.client-profile .base .unassigned-clients .unassigned-client .yarn-detail{
    display: inline-block;
}
.client-profile .base .unassigned-clients .unassigned-client .date{
    font-size: 8px;
    font-weight: 700;
    position: absolute;
    display: block;
    right: 0;
    padding: 0;
    margin: 0;
}
.client-profile .base .unassigned-clients .unassigned-client .name{
    padding: 0;
    margin: 0 20% 3px 0;
    font-size: 13px;
    font-weight: 600;
    color: inherit;
}
.client-profile .base .unassigned-clients .unassigned-client .msg{
    padding: 0;
    margin: 0;
    height: 30px;
    white-space: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: left;
    color: #BDBDBD;
    margin-right: 10%;
}
.client-profile .base .unassigned-clients .unassigned-client .msg-count{
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    position: absolute;
    display: block;
    right: 0;
    padding: 4px 6px;
    margin: 0;
    background-color: #f5f7fb;
    color: #ff524a;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    top: 30px;
}

/*client-profile END*/

